<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>lemon</servlet-name>
        <servlet-class>server.LemonServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>lemon</servlet-name>
        <url-pattern>/lemon</url-pattern>
    </servlet-mapping>
</web-app>
